:root {
    /* Document */    
    --emd-color-background: var(--emd-white);
    --emd-color-foreground: var(--emd-gray-900);

    /* Text */
    --emd-color-text: var(--emd-gray-900);
    --emd-color-quote-text: var(--emd-gray-500);
    --emd-color-quote-line: var(--emd-gray-200);

    /* Heading */
    --emd-color-heading: var(--emd-gray-900);
    --emd-color-heading-line: var(--emd-gray-300);

    /* Layout */
    --emd-document-width: var(--emd-content-width);
    --emd-document-padding: var(--emd-content-padding);
}
