*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
blockquote,
summary,
details,
img {
    margin: 0;
    padding: 0;
}

br {
    content: "";
    display: block;
    margin: 0;
}

img,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select,
blockquote,
summary,
details {
    font: inherit;
}
